@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color variables */
  --primary-red: #DD2D4A;
  --secondary-red: #880D1E;
  --light-red: #F26A8D;
  --neutral-red: #F49CBB;
  --neutral: #CBEEF3;
}